<h1>Single post</h1>

<section>
  <h2><%= @post.title %> By: <%= @post.user.Name %></h2>
  <div class="post-details">
    <span>Comments: <%= @post.comments_counter || 0 %></span>
    <span>Likes: <%= @post.likes_counter || 0 %></span>
  </div>

  <p><%= @post.text %></p>
</section>

<ul>
  <% @post.recent_comments.each do |comment| %>
    <li><%= comment.user.Name %> : <%= comment.text %>
  <% end %>
</ul>